{% extends '@emailing/DefaultMail.html.twig' %}
{% block content %}
        <body>
        <table role="presentation" border="0" cellpadding="0" cellspacing="0" class="body">
                <tr>
                        <td>&nbsp;</td>
                        <td class="container">
                                <div class="content">
                                        <!-- START CENTERED WHITE CONTAINER -->


                                        <span class="preheader">Please update your password by clicking on the following link:</span>
                                        <table role="presentation" border="0" cellpadding="0" cellspacing="0" class="main">
                                                <!-- START MAIN CONTENT AREA -->
                                                <img style="float:right; width: 50%; height: auto;" src="{{ host }}/img/logo.png" alt="Logo"/>
                                                <tr>
                                                        <td class="wrapper">
                                                                <p class="">

                                                                        For your X account with name / email:<br/><br/>
                                                                        <span class="font-weight-bold">{{ name }}</span>
                                                                        <br/>
                                                                        <br/>
                                                                        a password reset has been started.<br/><br/>

                                                                        Click on the following link to change your password:<br/>
                                                                </p>
                                                                <table role="presentation" border="0" cellpadding="0" cellspacing="0" class="btn btn-primary">
                                                                        <tbody>
                                                                        <tr>
                                                                                <td align="left">
                                                                                        <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                                                                                                <tbody>
                                                                                                <tr>
                                                                                                        <td>
                                                                                                                <a href="{{ host }}/{{target}}?hash={{ userHash }}" target="_blank">Change password</a>
                                                                                                        </td>
                                                                                                </tr>
                                                                                                </tbody>
                                                                                        </table>
                                                                                </td>
                                                                        </tr>
                                                                        </tbody>
                                                                </table>
                                                                <p>If you didn't update the password by yourself, please report the incident.</p>
                                                        </td>
                                                </tr>
                                                <!-- END MAIN CONTENT AREA -->
                                        </table>
                                        <!-- START FOOTER -->
                                        <div class="footer">
                                                <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                                                        <tr>
                                                                <td class="content-block">
                                                                        <span class="apple-link">Technikhafen, Koloniestr. 43, 13359 Berlin</span>
                                                                </td>
                                                        </tr>
                                                        <tr>
                                                                <td class="content-block powered-by">
                                                                        Powered by <a href="https://technikhafen.de">Technikhafen</a>
                                                                </td>
                                                        </tr>
                                                </table>
                                        </div>
                                        <!-- END FOOTER -->
                                </div>
                                <!-- END CENTERED WHITE CONTAINER -->
                        </td>
                        <td>&nbsp;</td>
                </tr>
        </table>
        </body>
{% endblock %}
